<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../inc_head'); %>
    <title>Admin - Customers / StarShop</title>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('inc_navbaradmin'); %>
    <!-- Main content -->
    <main role="main" class="container pt-4">
      <div class="jumbotron bg-white">
        <div id="page-content">
          <h1>Customers</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Address</th>
                <th>stripeCustomerId</th>
              </tr>
            </thead>
            <tbody>
              <% allUsers.forEach(user => { %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.firstName %> <%= user.lastName %></td>
                <td>
                  <%= user.address %>, <%= user.zip %>, <%= user.town %>, <%=
                  user.country %>
                </td>
                <td><%= user.stripeCustomerId %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <% if (allUsers.length === 0) { %>
          <p>No customers</p>
          <% } %>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center bg-white">
      <%- include('../inc_footer'); %>
    </footer>

    <%- include('../inc_jsbottom'); %>
  </body>
</html>
