<script>
  function addToCart(productId) {
    fetch(`/addtocart/${productId}`)
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          const cartItemsCountElement =
            document.getElementById("cartItemsCount");
          cartItemsCountElement.textContent = data.cartItemsCount;

          const flashMessageElement = document.getElementById("flashMessage");
          if (flashMessageElement) {
            flashMessageElement.innerHTML =
              '<i class="bi bi-bag-check-fill"></i> Item added to cart!';
            flashMessageElement.classList.add("alert", "alert-success");
            flashMessageElement.style.display = "block";
          }
        }
      })
      .catch((error) => {
        console.error("Error adding item to cart:", error);
      });
  }
</script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../inc_head'); %>
    <title>Products / StarShop</title>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('inc_navbaruser'); %>
    <!-- Main content -->
    <main role="main" class="container pt-4">
      <div class="jumbotron bg-white">
        <div id="page-content">
          <h1>Products</h1>
          <div id="flashMessage" class="alert" style="display: none"></div>

          <div class="product-list mt-0">
            <% if (products.length === 0) { %>
            <p>No products available.</p>
            <% } else { %>
            <div class="row mt-2 py-3">
              <% products.forEach(product => { %>
              <div class="col-xl-4 mb-5 pb-0">
                <div class="card p-0 m-0 growsm h-100" style="width: 100%">
                  <i
                    class="bi bi-star text-center text-warning pt-3"
                    style="font-size: 100px"
                  ></i>
                  <div class="card-body">
                    <div class="product">
                      <h2><%= product.name %></h2>
                      <p><%= product.description %></p>
                      <p class="text-success" style="font-weight: bold">
                        Price: <%= product.price %> SEK
                      </p>
                      <a
                        class="btn btn-primary"
                        href="#"
                        onclick="addToCart('<%= product.id %>')"
                      >
                        <i class="bi bi-bag"></i> ADD TO CART
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center bg-white">
      <%- include('../inc_footer'); %>
    </footer>

    <%- include('../inc_jsbottom'); %>
    <script>
      // Update cart items count on page load
      document.addEventListener("DOMContentLoaded", function () {
        const cartItemsCount = "<%= cartItemsCount %>";
        const cartItemsCountElement = document.getElementById("cartItemsCount");
        cartItemsCountElement.textContent = cartItemsCount;
      });
    </script>
  </body>
</html>
