<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../inc_head'); %>
    <title>Produkter / StarShop</title>
  </head>

  <body>
    <!-- Navbar -->
    <%- include('inc_navbaruser'); %>
    <!-- Main content -->
    <main role="main" class="container pt-4">
      <div class="jumbotron bg-white">
        <div id="page-content">
          <h1>Produkter</h1>
          <div class="product-list mt-0">
            <% if (products.length === 0) { %>
            <p>No products available.</p>
            <% } else { %>
            <div class="row mt-0 p-3">
              <% products.forEach(product => { %>
              <div class="col-xl-4 mb-5 pb-0">
                <div class="card p-0 m-0 growsm h-100" style="width: 100%">
                  <i
                    class="bi bi-star text-center text-warning"
                    style="font-size: 75px"
                  ></i>
                  <div class="card-body">
                    <div class="product">
                      <h2><%= product.name %></h2>
                      <p><%= product.description %></p>
                      <p class="text-success" style="font-weight: bold">
                        Price: <%= product.price %>
                      </p>
                      <a class="btn btn-primary" href="/addtocart"
                        ><i class="bi bi-bag"></i> BUY STAR</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer class="text-center bg-white">
      <%- include('../inc_footer'); %>
    </footer>

    <%- include('../inc_jsbottom'); %>
  </body>
</html>
